.grid-primary {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  list-style-type: none;
  display: flex;
  column-gap: 30px;

  & h5 {
    font-size: 14px;
    line-height: 1.17214;
    margin-bottom: 10px;
  }
  &__icon {
    display: flex;
    background-color: $background-color-third;
    margin-bottom: 30px;
    padding: 25px 100px;
  }

  & li {
    max-width: 270px;
  }
}
