.grid-client {
  display: flex;
  justify-content: center;
  column-gap: 30px;

  &__icon {
    fill: $social-icon-color;
    transition-property: color, background-color, box-shadow, fill, border-color;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid $social-icon-color;
    border-radius: 4px;
    transition-property: color, background-color, box-shadow, fill, border-color;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border-color: $hover-effect;
    cursor: pointer;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $hover-effect;
    border-color: $hover-effect;
    cursor: pointer;
  }
}
