.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;

  &--header {
    color: $logo-color-dark;
    line-height: 1.17385;
  }

  &--footer {
    color: $background-color-primary;
    line-height: 1.38;
    display: flex;
    margin-bottom: 20px;
  }

  & > span,
  & > span {
    color: $hover-effect;
  }
}
