.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  &--header {
    color: $logo-color-dark;
    line-height: 1.17417;
    margin-right: 293px;
  }

  &--footer {
    color: $background-color-primary;
    line-height: 1.38;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }

  & > span,
  & > span {
    color: $hover-effect;
  }
}

@media (min-width: 768px) {
  .logo {
    &--header {
      margin-right: 83px;
    }
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;

    &--header {
      line-height: 1.17385;
    }

    &--footer {
      justify-content: start;
    }
  }
}
