$logo-color-dark: #000000;
$hover-effect: #2196f3;
$contact-color-footer: #ffffff99;
$text-color-primary: #212121;
$text-color-secondary: #757575;
$background-color-primary: #ffffff;
$background-color-secondary: #2f303a;
$background-color-third: #f5f4fa;
$header-border-color: #cecece;
$picture-border-color: #eeeeee;
$social-icon-color: #afb1b8;
$footer-icon: #ffffff1a;
$label-background: #2f303acc;
$card-background: #2196f3e6;
$backdrop-color: #00000033;
$modal-close-border: #0000001a;
$input-border: #ffffff4d;
$sign-in-shadow: #00000026;
$form-input-border: #33333333;
$comment-placeholder: #75757580;
$transition-duration: 250ms;
